@font-face {
  font-family: 'material-icons';
  src: url('"chrome-extension://__MSG_@@extension_id__/webfonts/material-icons.woff2')
    format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 300;
  --primary: #0984e3;
  --primary-var: ;
  --secondary: #00cec9;
  --bg: #dfe6e9;
  --bg-accent: #fff;
  --text-color-dark: #2d3436;
  --text-color-light: #fff;
  --other: hsla(206, 92%, 46%, 0.671);
}

html {
  font-family: 'Space Mono', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.menu li {
  list-style-type: none;
  color: #fff;
  padding: 10px 20px;
}

#logo {
  font-size: 1.4rem;
  font-weight: 700;
}

#options img {
  cursor: pointer;
  transition: 300ms;
}

#options img:hover {
  transform: rotate(25deg);
}

canvas {
  min-width: 400px;
  min-height: 400px;
}
